{
    "cachepath": "./data/glove.pickle",
    "path": "./data/glove.6B.300d.first20k.txt",
    "vocab_size": 20000,
    "host": "localhost",
    "user": "glove",
    "database": "glove", 
    "password": "gl0v3",
    "populated": false
}
